.fv figure{
    background-color: #e6e4e5;
}
.fv img{
    width: 100%;
}   
.about{
    background-color: #e6e4e5;
    padding: 50px;
    text-align: center;
    font-family: "Noto Serif JP", serif;
}

.menu{
    background-color: #3f4b57;
    text-align: center;
    padding-bottom: 50px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: white;   
}
.menus{
    display: flex;
    justify-content: space-evenly;
}
.item{
    width: 200px;
    height: 200px;
}
.menu h2{
    font-size: 40px;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 40px;
}
.menu h3{
    font-size: 25px;
    text-decoration: underline white 1px;
    font-weight: bold;
}
.item p{
    font-size: 15px;
    margin-top: 10px;
}
.menu ul li a{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 30px;
}

#contact{
    background-color: #e6e4e5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
#contact h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #3f4b57;
}
#contact form{
    width: 100%;
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}
#contact label{
    display: block;
    font-size: 11px;
    margin-top: 5px;
}
#contact input{
    width: 100%;
    padding: 5px;
}
#contact textarea{
    width: 100%;
    padding: 10px;
    height: 100px;
}
input[type="submit"]{
    background-color: #3f4b57;
    color: white;
    border-radius: 5px;
}
